<div id="fullcalendar-availabilities"></div>

<script>
    let productId = {product attr='id'};
    let creneaux = [];
    let creneau = {};
    {loop type="scheduledate" name="schedule_date"}
        creneau = {
            start: '{$BEGIN|date_format:"%Y-%m-%d %H:%M:%S"}',
            end: '{$END|date_format:"%Y-%m-%d %H:%M:%S"}',
            title: '{$REF}',
            id: '{$ID}',
            color: {$STOCK} ? 'green' : 'red',
            selectable: {$STOCK} ? true : false
        }
        creneaux.push(creneau);
    {/loop}
    {elseloop rel="schedule_date"}
        console.log('pas de dates');
    {/elseloop}

</script>