{extends file="admin-layout.tpl"}

{block name="after-bootstrap-css"}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
{/block}

{block name="no-return-functions"}
    {$admin_current_location = 'configuration'}
{/block}

{block name="page-title"}{intl l='Administration logs'}{/block}

{block name="check-resource"}admin.configuration.admin-logs{/block}
{block name="check-access"}view{/block}

{block name="main-content"}
    <div class="admin-logs">

        <div class="container-fluid">

            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{url path='/admin/home'}">{intl l="Home"}</a></li>
                <li class="breadcrumb-item"><a href="{url path='/admin/configuration'}">{intl l="Configuration"}</a></li>
                <li class="breadcrumb-item"><a href="{url path='/admin/configuration/adminLogs'}">{intl l="Administration logs"}</a></li>
            </ul>

            {hook name="admin-logs.top" location="admin_logs_top" }

            <div class="row">
                <div class="col-md-12">
                    <div class="general-block-decorator">

                        <div class="title title-without-tabs">{intl l="Administration logs"}</div>

                        <div class="row inner-toolbar">
                            <div class="col-md-12 inner-actions clearfix">
                                <button type="button" class="btn btn-success float-right js-show-logs" title="{intl l='Show logs'}">{intl l='Show logs'} <span class="fas fa-eye"></span></button>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-1 text-right">
                                <p class="form-control-static"><strong>{intl l='Period'} :</strong></p>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{intl l='From'}</span>
                                        </div>
                                        <input class="form-control datetime-picker from-datetime-picker" type="text" id="from_date" readonly="readonly">
                                        <div class="input-group-append">
                                            <span class="input-group-text"><span class="fas fa-calendar-alt"></span></span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="input-group date">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">{intl l='To'}</span>
                                        </div>
                                        <input class="form-control datetime-picker to-datetime-picker" type="text" id="to_date" readonly="readonly">
                                        <div class="input-group-append">
                                            <span class="input-group-text">
                                                <span class="fas fa-calendar-alt"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
	                        <div class="col-md-12">

                                <p class="form-control-static"><strong>{intl l='Administrators'} :</strong></p>

	                            <div class="row">
	                            {loop type="admin" name="admin-list" backend_context="1"}
	                                <div class="col-md-3">
                                        <label class="checkbox-inline">
                                            <input id="admin_{$ID}" data-id="{$LOGIN}" class="js-admin" type="checkbox" checked>{$LOGIN} ({$FIRSTNAME} {$LASTNAME})
                                        </label>
	                                </div>
                                    {if ($LOOP_COUNT)%4 == 0}<div class="clearfix"></div>{/if}
                                {/loop}
	                            </div>
	                        </div>
	                    </div>

                        <div class="row">
	                        <div class="col-md-12">
                                <p class="form-control-static"><strong>{intl l='Resources'} :</strong></p>

	                            <div class="row">
	                            {loop type="resource" name="resources-list" backend_context="1"}
	                                <div class="col-md-3">
                                        <label class="checkbox-inline">
	                                        <input id="resource_{$ID}" data-id="{$CODE}" class="js-resource" type="checkbox" checked> {$TITLE}
                                        </label>
	                                </div>
                                    {if ($LOOP_COUNT)%4 == 0}<div class="clearfix"></div>{/if}
	                            {/loop}
	                            </div>

	                        </div>
                        </div>

                        <div class="row">
	                        <div class="col-md-12">
                                <p class="form-control-static"><strong>{intl l='Modules'} :</strong></p>

	                            <div class="row">
	                            {loop type="module" name="modules-list" backend_context="1" order="code"}
	                                <div class="col-md-3">
                                        <label class="checkbox-inline">
	                                        <input id="module_{$ID}" data-id="{$CODE}" class="js-module" type="checkbox" checked> {$CODE} - {$TITLE}
                                        </label>
	                                </div>

                                    {if ($LOOP_COUNT)%4 == 0}<div class="clearfix"></div>{/if}
	                            {/loop}
	                            </div>

	                        </div>
                        </div>

                        <div class="row inner-toolbar">
                            <div class="col-md-12 inner-actions clearfix">
                                <button type="button" class="btn btn-success float-right js-show-logs" title="{intl l='Show logs'}">{intl l='Show logs'} <span class="fas fa-eye"></span></button>
                            </div>
                        </div>

                        <div class="row">
                            <div id="loading-block" class="col-md-12 loading-block"></div>

                            <div class="col-md-12 clearfix" id="logger-display"></div>
                        </div>
                    </div>
                </div>
            </div>

            {hook name="admin-logs.bottom" location="admin_logs_bottom" }

        </div>
    </div>
{/block}

{block name="javascript-initialization"}
    <script src="{javascript file='assets/js/bootstrap-switch/bootstrap-switch.js'}"></script>

    <script>
        {$langcode = {lang attr="code"}|substr:0:2}
    </script>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://npmcdn.com/flatpickr/dist/l10n/{$langcode}.js"></script>

    <script type="text/javascript">

        jQuery(function($) {

            flatpickr('.from-datetime-picker', {
                allowInput: true,
                dateFormat: 'Y-m-d',
                locale: "{$langcode}",
                defaultDate: new Date().fp_incr(-7)
            })

            flatpickr('.to-datetime-picker', {
                allowInput: true,
                dateFormat: 'Y-m-d',
                locale: "{$langcode}",
                defaultDate: "today"
            })

            $('.js-show-logs').click(function(e) {

                $('.js-show-logs').attr('disabled', true);
                $('#logger-display').html('');
                $('#loading-block').show();

                var admins = new Array();
                var resources = new Array();
                var modules = new Array();

                $('.js-admin:checked').each(function(k, v) {
                    admins.push($(v).data('id'));
                });
                $('.js-resource:checked').each(function(k, v) {
                    resources.push($(v).data('id'));
                });
                $('.js-module:checked').each(function(k, v) {
                    modules.push($(v).data('id'));
                });

                var fromDate = document.querySelector('.from-datetime-picker').value;
                var toDate = document.querySelector('.to-datetime-picker').value;

                $.post(
                    "{url path='/admin/configuration/adminLogs/logger'}",
                    {
                        fromDate:       fromDate,
                        toDate:         toDate,
                        admins:         admins,
                        resources:      resources,
                        modules:        modules
                    },
                    function(html) {
                        $('#loading-block').hide();
                        $('#logger-display').html(html);
                        $('.js-show-logs').attr('disabled', false);

                        $('html, body').scrollTop($("#logger-display").offset().top);
                    }
                );

                e.preventDefault();
            });
        });

    </script>
{/block}

{block name="javascript-last-call"}
    {hook name="admin-logs.js" location="admin-logs-js" }
{/block}
