<div class="row mt-3">

    <div class="col-md-6">
        <table class="table table-striped table-sm">
            <caption class="clearfix">
                <span class="h4">{intl l="Default schedules" d="schedules.bo.default"}</span>
                {loop name="auth-create" type="auth" role="ADMIN" resource="admin.content" access="CREATE"}
                <a class="btn btn-primary schedules-default action-btn"
                    title="{intl l='Create a new Default Schedules' d='schedules.bo.default'}"
                    data-target="#schedules-create" data-toggle="modal">
                    <i class="fas fa-plus-circle"></i>
                </a>
                {/loop}
            </caption>

            <thead>
                <tr><th>{intl l="Day" d="schedules.bo.default"}</th>
                    <th>{intl l="Begin" d="schedules.bo.default"}</th>
                    <th>{intl l="End" d="schedules.bo.default"}</th>
                    <th>{intl l="Actions" d="schedules.bo.default"}</th>
                </tr>
            </thead>

            <tbody>
                {loop name="schedules-defaults" type="schedules-content" content_id=$content_id default_period=true order="day,begin"}
                <tr><td>{$DAY_LABEL}</td>
                    <td>{format_date date=$BEGIN format="H:i"}</td>
                    <td>{format_date date=$END format="H:i"}</td>
                    <td><div class="btn-group">
                            {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.content" access="UPDATE"}
                            <a class="btn btn-secondary btn-xs schedules-update-default"
                               title="{intl l='Modify this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-update" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}"
                               data-day="{$DAY}" data-begin="{format_date date=$BEGIN format='H:i'}"
                               data-end="{format_date date=$END format='H:i'}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {/loop}
                            {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.content" access="CREATE"}
                            <a class="btn btn-secondary btn-xs schedules-clone"
                               title="{intl l='Clone this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-clone" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}">
                                <i class="fas fa-plus-circle"></i>
                            </a>
                            {/loop}
                            {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.content" access="DELETE"}
                            <a class="btn btn-secondary btn-xs schedules-delete"
                               title="{intl l='Delete this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-delete" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            {/loop}
                        </div>
                    </td>
                </tr>
                {/loop}
                {elseloop rel="schedules-defaults"}
                <tr><td colspan="1000">
                        <div class="alert alert-info">{intl l="There is no Default Schedules" d="schedules.bo.default"}</div>
                    </td>
                </tr>
                {/elseloop}
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table table-striped table-sm">
            <caption class="clearfix">
                <span class="h4">{intl l="Opening Dates" d="schedules.bo.default"}</span>
                {loop name="auth-create" type="auth" role="ADMIN" resource="admin.content" access="UPDATE"}
                <div class="float-right">
                    <a class="btn btn-primary schedules-extra action-btn"
                       title="{intl l='Create a new Extra Schedules' d='schedules.bo.default'}"
                       data-target="#schedules-create" data-toggle="modal">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
                {/loop}
            </caption>

            <thead>
                <tr><th>{intl l="Day" d="schedules.bo.default"}</th>
                    <th>{intl l="Begin" d="schedules.bo.default"}</th>
                    <th>{intl l="End" d="schedules.bo.default"}</th>
                    <th>{intl l="Period Begin" d="schedules.bo.default"}</th>
                    <th>{intl l="Period End" d="schedules.bo.default"}</th>
                    <th>{intl l="Actions" d="schedules.bo.default"}</th>
                </tr>
            </thead>

            <tbody>
                {loop name="schedules" type="schedules-content" content_id=$content_id default_period=false hide_closed=false order="period_begin,day,begin"}
                <tr><td>{if $DAY_LABEL}{$DAY_LABEL}{/if}</td>
                    <td>{if $BEGIN}{format_date date=$BEGIN format="H:i"}{/if}</td>
                    <td>{if $END}{format_date date=$END format="H:i"}{/if}</td>
                    <td>{format_date date=$PERIOD_BEGIN format="d/m/y"}</td>
                    <td>{format_date date=$PERIOD_END format="d/m/y"}</td>
                    {* Actions *}
                    <td><div class="btn-group">
                            {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.content" access="UPDATE"}
                            <a class="btn btn-secondary btn-xs schedules-update-extra"
                               title="{intl l='Modify this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-update" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}"
                               data-day="{$DAY}"
                               data-begin="{format_date date=$BEGIN format='H:i'}"
                               data-end="{format_date date=$END format='H:i'}"
                               data-periodbegin="{format_date date=$PERIOD_BEGIN format='Y-m-d'}"
                               data-periodend="{format_date date=$PERIOD_END format='Y-m-d'}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {/loop}
                            {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.content" access="DELETE"}
                            <a class="btn btn-secondary btn-xs schedules-delete"
                               title="{intl l='Delete this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-delete" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            {/loop}
                        </div>
                    </td>
                </tr>
                {/loop}
                {elseloop rel="schedules"}
                <tr><td colspan="1000">
                        <div class="alert alert-info">{intl l="There is no Extra Schedules" d="schedules.bo.default"}</div>
                    </td>
                </tr>
                {/elseloop}
            </tbody>
        </table>

        <table class="table table-striped table-sm">
            <caption class="clearfix">
                <span class="h4">{intl l="Closed Schedules" d="schedules.bo.default"}</span>
                {loop name="auth-create" type="auth" role="ADMIN" resource="admin.content" access="CREATE"}
                <div class="float-right">
                    <a class="btn btn-primary schedules-closed action-btn"
                       title="{intl l='Create a new Extra Schedules' d='schedules.bo.default'}"
                       data-target="#schedules-create" data-toggle="modal">
                        <i class="fas fa-plus-circle"></i>
                    </a>
                </div>
                {/loop}
            </caption>

            <thead>
                <tr><th>{intl l="Day" d="schedules.bo.default"}</th>
                    <th>{intl l="Begin" d="schedules.bo.default"}</th>
                    <th>{intl l="End" d="schedules.bo.default"}</th>
                    <th>{intl l="Period Begin" d="schedules.bo.default"}</th>
                    <th>{intl l="Period End" d="schedules.bo.default"}</th>
                    <th>{intl l="Actions" d="schedules.bo.default"}</th>
                </tr>
            </thead>

            <tbody>
                {loop name="schedules" type="schedules-content" content_id=$content_id default_period=false hide_closed=false closed=true order="period_begin,day,begin"}
                <tr><td>{if $DAY_LABEL}{$DAY_LABEL}{/if}</td>
                    <td>{if $BEGIN}{format_date date=$BEGIN format="H:i"}{/if}</td>
                    <td>{if $END}{format_date date=$END format="H:i"}{/if}</td>
                    <td>{format_date date=$PERIOD_BEGIN format="d/m/y"}</td>
                    <td>{format_date date=$PERIOD_END format="d/m/y"}</td>
                    <td><div class="btn-group">
                            {loop name="auth-edit" type="auth" role="ADMIN" resource="admin.content" access="UPDATE"}
                            <a class="btn btn-secondary btn-xs schedules-update-closed"
                               title="{intl l='Modify this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-update" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}"
                               data-day="{$DAY}"
                               data-begin="{format_date date=$BEGIN format='H:i'}"
                               data-end="{format_date date=$END format='H:i'}"
                               data-periodbegin="{format_date date=$PERIOD_BEGIN format='Y-m-d'}"
                               data-periodend="{format_date date=$PERIOD_END format='Y-m-d'}">
                                <i class="fas fa-edit"></i>
                            </a>
                            {/loop}
                            {loop name="auth-delete" type="auth" role="ADMIN" resource="admin.content" access="DELETE"}
                            <a class="btn btn-secondary btn-xs schedules-delete"
                               title="{intl l='Delete this Schedule' d='schedules.bo.default'}"
                               data-target="#schedules-delete" data-toggle="modal" data-schedule-id="{$SCHEDULE_ID}">
                                <i class="far fa-trash-alt"></i>
                            </a>
                            {/loop}
                        </div>
                    </td>
                </tr>
                {/loop}
                {elseloop rel="schedules"}
                <tr><td colspan="1000">
                        <div class="alert alert-info">{intl l="There is no Exceptional Closure" d="schedules.bo.default"}</div>
                    </td>
                </tr>
                {/elseloop}
            </tbody>
        </table>

    </div>
</div>

{include file="modal/schedules-content.html"}
