{extends file="layout.tpl"}

{* Breadcrumb *}
{block name='no-return-functions' append}
    {$breadcrumbs = [['title' => {intl l="Contact Us"}, 'url'=>{url path="/contact"}]]}
{/block}

{block name="main-content"}
    <div class="main">
        <article class="col-main" role="main" aria-labelledby="main-label">
        <h1 id="main-label" class="page-header">{intl l="Contact Us"}</h1>

        {ifhook rel="contact.top"}
           {hook name="contact.top"}
        {/ifhook}
        {elsehook rel="contact.top"}
        <div id="google-map">
            {assign var="address" value="{config key="store_address1"} {config key="store_address2"} {config key="store_address3"}, {config key="store_city"}, {config key="store_country"}"}
            <iframe class="map" width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&source=s_q&geocode=&q={$address|escape:'url'}&output=embed"></iframe>
        </div><!-- / #google-map-->
        {/elsehook}

        <div class="alert alert-danger">Un comportement anormal a été détecté.</div>

        </article>
    </div>
{/block}

{block name="stylesheet"}
{hook name="contact.stylesheet"}
{/block}

{block name="after-javascript-include"}
{hook name="contact.after-javascript-include"}
{/block}

{block name="javascript-initialization"}
{hook name="contact.javascript-initialization"}
{/block}