{if isset($alert)}
<div class="alert alert-{$alert}" role="alert">
    {if $alert == 'success'}
        {intl d='newsletterconfirmation.fo.default' l="Your subscription to the %store newsletter on your email adress %email has been successfully confirmed !" email=$email store={config key="store_name"}}
    {elseif $alert == 'info'}
        {intl d='newsletterconfirmation.fo.default' l="Your subscription to the %store newsletter on your email adress %email has already been confirmed." email=$email store={config key="store_name"}}
    {elseif $alert == 'danger'}
        {intl d='newsletterconfirmation.fo.default' l="An error occured during the newsletter subscription confirmation to %store." store={config key="store_name"}}
    {/if}
</div>
{/if}