<div class="general-block-decorator">
    <div class="row">
        <div class="col-md-12">
            {form name="newsletterconfirmation.configuration"}
            <form method="POST" action="{url path='/admin/module/newsletterconfirmation/configuration/update'}">
                {form_hidden_fields form=$form}

                {form_field form=$form field="enabled"}
                <div class="form-group form-check">
                    <input class="form-check-input" type="checkbox" name="{$name}" id="{$label_attr.for}" {if $value}checked{/if} />
                    <label class="form-check-label" for="{$label_attr.for}">
                        {$label}
                        {form_error form=$form field="enabled"}
                        <br />
                        <span class="error">{$message}</span>
                        {/form_error}
                    </label>
                    {if ! empty($label_attr.help)}
                    <small class="form-text text-muted">{$label_attr.help}</small>
                    {/if}
                </div>
                {/form_field}

                <button type="submit" name="newsletterconfirmation_save_configuration" value="save" class="btn btn-sm btn-secondary" title="{intl d='colissimo.bo.default' l='Save'}">
                    {intl d='colissimo.bo.default' l='Save'}
                </button>
            </form>
            {/form}
        </div>
    </div>
</div>