<?xml version="1.0" encoding="UTF-8" ?>

<config xmlns="http://thelia.net/schema/dic/config"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/config http://thelia.net/schema/dic/config/thelia-1.0.xsd">

    <loops>
        <loop name="schedules" class="Schedules\Loop\SchedulesLoop"/>
        <loop name="scheduledate" class="Schedules\Loop\ScheduleDateLoop"/>
    </loops>

    <forms>
        <form name="schedules.create" class="Schedules\Form\SchedulesForm" />
        <form name="schedules.update" class="Schedules\Form\SchedulesFormUpdate" />
        <form name="schedules.clone" class="Schedules\Form\SchedulesFormClone" />
        <form name="schedules.delete" class="Schedules\Form\SchedulesFormDelete" />
        <form name="schedules.configuration" class="Schedules\Form\Configuration" />
    </forms>

    <commands>
        <!--
        <command class="Schedules\Command\MySuperCommand" />
        -->
    </commands>

    <hooks>
        <hook id="schedules.back.hook" class="Schedules\Hook\BackHook">
            <tag name="hook.event_listener" event="product.tab" type="back" />
            <tag name="hook.event_listener" event="content.tab" type="back" />
            <tag name="hook.event_listener" event="config-store.tab" type="back" />
            <tag name="hook.event_listener" event="module.configuration" type="back" templates="render:module_configuration.html" />
            <tag name="hook.event_listener" event="product.edit-js" type="back" templates="js:assets/js/schedules.js" />
            <tag name="hook.event_listener" event="content.edit-js" type="back" templates="js:assets/js/schedules.js" />
            <tag name="hook.event_listener" event="config-store.js" type="back" templates="js:assets/js/schedules.js" />
        </hook>

        <hook id="schedules.front.hook" class="Schedules\Hook\FrontHook">
            <tag name="hook.event_listener" event="product.additional" type="front" />
            <!-- <tag name="hook.event_listener" event="product.details-bottom" type="front" templates="render:product_details_bottom.html" /> -->
            <tag name="hook.event_listener" event="product.stylesheet" type="front" templates="css:assets/css/fullcalendar.css" />
            <tag name="hook.event_listener" event="product.javascript-initialization" type="front" templates="js:assets/js/fullcalendar.js;js:assets/js/schedules.js" />
        </hook>

    </hooks>

    <services>
        <service id="schedules.event" class="Schedules\EventListener\ScheduleEventListener">
            <tag name="kernel.event_subscriber"/>
            <argument type="service" id="event_dispatcher"/>
        </service>
        <service id="schedules.resource.event" class="Schedules\EventListener\ScheduleResourceEventListener">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="schedules.date.event" class="Schedules\EventListener\ScheduleDateEventListener">
            <tag name="kernel.event_subscriber"/>
        </service>
        <service id="schedules.cart.add.form" class="Schedules\EventListener\CartAddFormAfterBuildEventListener" scope="request">
            <argument type="service" id="request" />
            <tag name="kernel.event_subscriber" />
        </service>
        <service id="schedules.cart.add.item" class="Schedules\EventListener\CartAddItemEventListener" scope="request">
            <argument type="service" id="request" />
            <tag name="kernel.event_subscriber" />
        </service>
    </services>

    <!--
    <imports>

    </imports>
    -->
</config>