<?xml version="1.0" encoding="UTF-8"?>
<module xmlns="http://thelia.net/schema/dic/module"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://thelia.net/schema/dic/module http://thelia.net/schema/dic/module/module-2_2.xsd">
    <fullnamespace>NewsletterConfirmation\NewsletterConfirmation</fullnamespace>
    <descriptive locale="en_US">
        <title>Newsletter Email Confirmation</title>
    </descriptive>
    <descriptive locale="fr_FR">
        <title>Confirmation E-mail Newsletter</title>
    </descriptive>
    <languages>
        <language>en_US</language>
        <language>fr_FR</language>
    </languages>
    <version>0.2.0</version>
    <author>
        <name>Thierry Caresmel</name>
        <email>thierry@pixel-plurimedia.fr</email>
    </author>
    <type>classic</type>
    <thelia>2.4.3</thelia>
    <stability>alpha</stability>
</module>
