// switches
//
// Tweak a few things for switches

.custom-switch {

    $width: 5rem;
    $height: 1.5rem;                //before : rectangle, after: rond

    .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: $gray-300;
    }

    .custom-control-input:disabled:checked ~ .custom-control-label:hover::before {
        background-color: $gray-300;
    }

    .custom-control-input:checked ~ .custom-control-label::before {
        border-color: $gray-500;
    }

    .custom-control-label {

        padding-left: #{$width};
        padding-bottom: #{$height};

        &::before {
            top: 0;
            height: $height;
            width: $width;
            border-radius: 0;
            cursor: pointer;
        }

        &:hover::before {
            background-color: lighten($primary, 40%);
        }

        &::after {
            top: 0;
            width: calc(#{$width} / 2 - 2px);
            height: $height;
            border-radius: 0;
            background-color: $danger;
            font-family: 'Font Awesome 5 Free';
            content: "\f00d";
            color: $white;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::before {
            background-color: $white;
        }
        &:hover::before {
            background-color: lighten($primary, 40%);
        }
        &::after {
            transform: translateX(calc(#{$width} / 2 - 2px));
            background-color: $success;
            font-family: 'Font Awesome 5 Free';
            content: "\f00c";
        }
    }
}