// Baseline styles

@mixin table {

  // Cells
  thead,
  tbody,
  tfoot {
    > tr {
      > th,
      > td {
        vertical-align: middle;
      }
    }
  }

  tbody {
    tr.active, tr {
      td.td-unstyled {
        background-color: white;
        border-top: none;
        border-right: 1px solid $table-border-color;
      }
      td.last {
        border-bottom: 1px solid $table-border-color;
      }
    }
    tr.inactive {
      td {
        color: $gray-light;
        font-style: italic;
      }
    }
  }

}

@mixin table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

// Hover effect
//
// Placed here since it has to come after the potential zebra striping

@mixin table-hover {
  tbody tr {
    @include hover() {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}

tfoot{

	.pagination{
		margin: 0;
	}

}

.table-sm {
  tfoot {
    > tr {
      > th,
      > td {
        padding: 20px 5px 5px;
      }
    }
  }
}

.table-striped {

	caption {

    caption-side: top;
    color: $text-color;

		.action-btn {
			display: block;
			float: right;
			margin-left: 10px;
			text-transform: none;
		}

        .action-select {
            display: inline-block;
            float: right;
            margin-left: 10px;
            width: auto;
        }
	}

	td.object-title, th.object-title {
		text-align: left;
	}

	td.message {
		// Center the alert box (20px bottom margin) in the table cell
		padding: 20px 20px 0 20px;
	}

    td.description {
        // No bottom margin for the last paragraph
        p:last-child {
            margin-bottom: 0;
        }
    }
}

.menu-list-table .table-striped  {
    td, th {
        text-align: left;
    }

    td:nth-child(2) {
        text-align: right;
    }
}

.table-left-aligned {
    th, td {
        text-align: left;

        &.text-center {
            text-align: center;
        }
        &.text-right {
            text-align: right;
        }
        &.actions {
            text-align: right;
        }
    }

    select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
        margin-bottom: 0;
    }
}

.table {
  th, td {
    vertical-align: middle;
  }
}

.table {
  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
}

caption {
  padding-top: 0;
  padding-bottom: 0;
}

.table-responsive {
    > .table-bordered {
        border: $table-border-width solid $table-border-color;
    }
}

@mixin width-auto {
    width: auto !important;
}

table {
    &.table-fit {
        @include width-auto;
        table-layout: auto !important;
        thead th, tfoot th  {
            @include width-auto;
        }
        tbody td, tfoot td {
            @include width-auto;
        }
    }
}